$width : 300px;
$margin-offset: 10px;
$padding-offset: 10px;

#side-bar-advanced-tool{
  border-right:2px solid #999;
  box-shadow: 2px 0 2px -2px #888;
  position: fixed;
  width: $width;
  left:0;
  top:0;
  bottom:0;
  padding:10px;
  z-index:50;
  overflow-y:auto;
  background-color: white;

  & button, & input, & select{
    display:block;
    margin-bottom:10px;
    width: 100%;
  }

  & select{
    height:40px;
  }

  //margin
  .margin-left0{
    margin-left: $margin-offset;
  }

  .margin-right0{
    margin-right: $margin-offset;
  }

  .margin-bottom0{
    margin-bottom: $margin-offset;
  }

  .margin-top0{
    margin-top: $margin-offset;
  }

  .margin-side0{
    margin-left: $margin-offset;
    margin-right: $margin-offset;
  }

  .margin-vert0{
    margin-top: $margin-offset;
    margin-bottom: $margin-offset;
  }

  //padding
  .padding-left0{
    padding-left: $padding-offset;
  }

  .padding-right0{
    padding-right: $padding-offset;
  }

  .padding-bottom0{
    padding-bottom: $padding-offset;
  }

  .padding-top0{
    padding-top: $padding-offset;
  }

  .padding-side0{
    padding-left: $padding-offset;
    padding-right: $padding-offset;
  }

  .padding-vert0{
    padding-top: $padding-offset;
    padding-bottom: $padding-offset;
  }

  //flex
  .flex-row{
    display:flex;
    flex-direction: row;
  }

  .flex-column{
    display:flex;
    flex-direction: column;
  }

  .flex-grow1{
    flex-grow: 1;
  }

  .flex-shrink0{
    flex-shrink: 0;
  }

  .ta-right{
    text-align: right;
  }

  .ta-center{
    text-align: center;
  }

  //panel craps
  .panel{
    &.panel-default .panel-heading{
      background-color: #f5f5f5;
    }

    &.panel-primary .panel-heading{
      background-color: #4078c0;
      color:white;
    }

    .panel-heading{
      border: 1px solid #ddd;
      @extend .padding-side0;
    }

    .panel-body{
      border: 1px solid #ddd;
      @extend .padding-side0;
    }
  }

  border-bottom{
    border-bottom:1px solid #ddd;
  }


  .tooltipped::after{
    max-width: $width - $margin-offset !important;
    word-break: break-word !important;
  }


  //overide
  .discussion-sidebar{
    float:none !important;
    width:auto !important;
  }
  .select-menu-modal{
    width: auto !important;
  }
}

//over style found in github
.container{
  margin-left: $width + 15px !important;
  margin-right: 15px !important;
  width: auto !important;
}

#discussion_bucket{
  .discussion-timeline{
    float: none !important;
    position:static !important;
    width: auto !important;
  }

  $avatar-timeline-offset : 30px;
  $avatar-timeline-offset-padding : 40px;
  .timeline-comment-avatar{
    width: $avatar-timeline-offset !important;
    height: $avatar-timeline-offset !important;
    margin-left: -1 * $avatar-timeline-offset-padding !important;
  }
  .timeline-comment-wrapper{
    padding-left:$avatar-timeline-offset-padding !important;
  }
}

#commits_bucket{
  margin-left: 0 !important;
}


.small-text{
  font-size: 12px;
}
