$width : 250px;

#side-bar-advanced-tool{
	border-right:2px solid #999;
  	box-shadow: 2px 0 2px -2px #888;
	position: fixed;
	width: $width;
	left:0;
	top:0;
	bottom:0;
	padding:10px;
	background-color: #666;
	z-index:50;

	& button, & input, & select{
		display:block;
		margin-bottom:10px;
		width: 100%;
	}

	& select{
		height:40px;
	}


	& h1, & h2, & h3, & h4, & h5{
		color:white;
	}

}

.container{
	margin-left: $width + 15px !important;
	margin-right: 15px !important;
	width: auto !important;
}